.app {
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%);
		z-index: 1;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
	}
}

.app_main {
	position: relative;
	z-index: 2;
	padding: 10rem 0 16.3rem 0;
}


.app-bottom {
	@include flex-start;
	padding-top: 1rem;
}

.app_form--w {
	max-width: 53.2rem;
	h4 {
		margin-bottom: 4rem;
		font-size: 3.8rem;
		font-family: $font_2;
		font-weight: 400;
	}
}

.app-input {
	margin-bottom: 2rem;
	input {
		@include app;
		border-radius: 1rem;
		border: .1rem solid rgba(255, 255, 255, 0.10);
		background: rgba(255, 255, 255, 0.05);
		padding: 1.5rem 2rem;
		width: 100%;
	}

	.error-message {
		border-radius: 1rem;
		background: rgba(255, 64, 64, 0.20);
		font-size: 1.6rem;
		padding: 0.9rem 2rem;
		margin-top: 1rem;
		display: none;
	}
}

.form-notice {
	font-size: 1.6rem;
	opacity: .8;
	color: $white;
	a {
		color: $white;
		&:hover {
			color: $gold;
		}
	}
}

.app-btn {
	margin-right: 1.5rem;
}