.wave {
  background: rgba(255, 255, 255, .4);
  border-radius: 50%;
  transform: scale(0);
  animation: wave .5s linear;
  pointer-events: none;
  position: absolute;
}

@keyframes wave {
  100% {
   transform: scale(2);
   opacity: 0;
  }
}

button {
	cursor: pointer;
}





.btn:not(.default-link) {
	a, input[type="submit"], button {
		@include app;
		background-color: $gold;
		border-radius: 1rem;
		padding: 1.5rem 4rem;
		font-family: $font_2;
		color: $dark;
		cursor: pointer;
	}
}