.footer {
  background: rgba(255, 255, 255, 0.07);
  margin-top: 15rem;

  @include bp($point_5) {
    margin-top: 10rem;
  }
}

.footer_main {
  padding: 8rem 0 5rem 0;
  

  h6 {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 5rem;

    @include bp($point_2) {
      font-size: 2.8rem;
      margin-bottom: 3rem;
    }

    @include bp($point_5) {
      font-size: 2.4rem;
    }
  }
}

.footer_main__bottom {
  @include flex-space;
}

.social {
  margin: -2.5rem -2.5rem 0 0;
  @include flex-start;
  flex-wrap: wrap;
  @include bp($point_2) {
    margin: -1.5rem -1.5rem 0 0;
  }
  li {
    padding: 2.5rem 2.5rem 0 0;
    @include bp($point_2) {
      padding: 1.5rem 1.5rem 0 0;
    }
    a {
      width: 4.9rem;
      height: 4.9rem;
      background-color: rgba(255, 255, 255, 0.20);
      border-radius: 100%;
      @include flex-center;
      font-size: 2.5rem;
      transition: all .3s ease;
      @include bp($point_2) {
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
      }
      &:hover {
        color: $orange
      }
    }
  }
}

.footer_main__list {
  @include flex-start;
  align-items: flex-start;
  margin: -3rem -15rem 5rem 0;
  flex-wrap: wrap;
  @include bp($point_2) {
    margin: -2rem -5rem 3rem 0;
  }
  a {
    transition: all .3s ease;
    &:hover {
      color: $orange;
      .icons {
        color: $white;
      }
    }
  }
  &>li {
    padding: 3rem 15rem 0 0;
    @include bp($point_2) {
      padding: 2rem 5rem 0 0;
    }
  }
}

.footer_main__listItem {
  span {
    font-size: 1.8rem;
    opacity: .5;
    display: block;
    margin-bottom: 3rem;
    @include bp($point_2) {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
  }

  ul {
    li {
      @include bp($point_2) {
        font-size: 1.6rem;
      }
      &:not(:last-child) {
        margin-bottom: 2rem;
        @include bp($point_2) {
          margin-bottom: 1rem;
        }
      }
      a {
        @include flex-start;
        font-size: 2.2rem;
        font-family: $font_3;
        @include bp($point_2) {
          font-size: 1.6rem;
        }
      }
    }
  }
}

.footer_main__listItem {
  &:first-child {
    ul {
      @include bp($point_2) {
        margin-top: -0.3rem;
      }
    }
  }
}

.footer_main__listIcon {
  width: 4rem;
  height: 4rem;
  @include flex-center;
  background-color: #ED3336;
  border-radius: 100%;
  margin-right: 2rem;

  @include bp($point_2) {
    width: 3rem;
    height: 3rem;
  }
}


.footer_bottom {
  @include flex-space;
  border-top: .1rem solid rgba(255, 255, 255, 0.20);
  padding: 1.9rem 0 2.3rem 0;
  font-size: 1.6rem;
  @include bp($point_2) {
    padding: 1rem 0 1rem 0;
    font-size: 1.2rem;
  }

  @include bp($point_5) {
    flex-direction: column;
  }
  a {
    transition: all .3s ease;
    &:hover {
      color: $orange;
    }
    &:nth-child(2) {
      margin: 0 3rem;

      @include bp($point_5) {
        margin: 0;
        padding: 1rem 0;
      }
    }
  }
}

.brand-link {
  @include bp($point_2) {
    max-width: 15rem;
  }
}