.header {
	position: absolute;
	top: 0;
	left: 0;
	height: $header;
	width: 100%;
	will-change: transform;
	@include z-index(header);
	color: $white;
	a {
		color: $white
	}
}

.header_main, .header_nav ul {
	@include flex-start;
}

.header_main {
	padding: 2.5rem 0
}

.header-phone a {
	@include flex-start;
	p {
		font-size: 2.2rem;
		font-family: $font_3;
		color: $gold;
		line-height: 1.8rem;
	}
	.icons {
		font-size: 2.5rem;
		color: $gold;
		margin-right: 1.5rem;
		@include flex-center;
	}
}

.header_nav {
	margin: 0 6.5rem 0 4rem;

	li {
		&:not(:last-child) {
			margin-right: 5rem;
		}
	}
}

.header-logo {
	width: 16.7rem;
	img {
		&:nth-child(1) {
			margin-bottom: 1.7rem;
		}
	}
}