.popup.popup-form(data-id="form")
	.popup_bg.remove 
	.popup-main 
		.close.remove 
			+iconify({
				icon: 'material-symbols:close'
			})
		h3 Оставить заявку на обратный звонок
		.popup_form--form 
			+input({
				place: 'Ваше имя'
			})
			+input({
				place: 'Ваш телефон',
				type: 'tel'
			})
			.app-bottom 
				.form-notice!='Оставляя данные, вы соглашаетесь <a href="#" target="_blank">с политикой конфиденциальности</a>'
				+btn({
					submit: 'Отправить',
					class: 'app-btn'
				})

.popup-work.popup(data-id="work") 
	.popup_bg.remove 
	.popup_main.popup_work--main
		.remove.popup_work--close 
			+iconify({
				icon: 'material-symbols:close'
			})
		.popup_slider--w 
			.popup-slider.swiper 
				.swiper-wrapper
					-for(i = 0; i < 10; i++) 
						.swiper-slide
							img(src="i/popup.jpg", alt="")
			.popup-thumb.swiper 
				.swiper-wrapper
					-for(i = 0; i < 10; i++) 
						.swiper-slide
							img(src="i/popup.jpg", alt="")
			.popup-nav 
				.popup-prev 
					+iconify({
						icon: 'ph:arrow-up-bold'
					})
				.popup-next
					+iconify({
						icon: 'ph:arrow-up-bold'
					})
		.popup-content 
			h3 Название проекта
			.popup-params 
				ul 
					li 
						p Метраж:
						span 36 м2
					li 
						p Стоимость ремонта:
						span 50 000 рублей за м2 (бюджет полностью с мебелью)
			.popup-txt
				p Выполнили ремонт квартиры в ЖК 123 в современном лофт-стиле для инвестора.Получилась двушка с изолированной спальней, полноценной кроватью, вместительным шкафом купе, зал с кухней, минимум перегородок и много мест для хранения.Отличный санузел с большой душевой кабиной.На полу использовали плитку из керамогранита с подогревом.Стены покраска, фотообои.Натяжной потолок с нишами под шторы с подсветкой.Полностью укомплектовали мебелью и техникой.Квартира ушла покупателям с первых просмотров, инвест проект принёс инвестору хорошую прибыль.
			.popup_form--w
				h4 Хотите ремонт по высшему разряду? Оставьте нам заявку, свяжемся с вами как можно скорее:
				.popup-forms 
					+input({
							name: 'Имя'
						})
					+input({
							name: 'Имя',
							type: 'tel'
						})
					+btn({
						name: 'Отправить',
						icon: false,
					})
				.form-notice!='Отправляя заявку вы соглашаетесь на обработку своих персональных данных и принимаете <a href="#" target="_blank">Политику конфиденциальности</a>'

