extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	section.hero
		.section_in 
			.hero_main
				include global/header
				.hero-quiz
					.step-titul 
							h1 Узнайте стоимость ремонта по Вашим параметрам всего за 1 минуту
							p Получите сертификат на ремонт вашей квартиры
							span 25 000₽
							+btn({
								name: 'Рассчитать стоимость ремонта',
								icon: true
							})
					.quiz-pagination
					ul.quiz-steps
						li.quiz-step
							.quiz-step--title 
								h3 Где планируете провести ремонт?
							ul.quiz_check--list
								- let whatBuild = ['Квартира, новостройка', 'Квартира, вторичное жильё', 'Частный дом / коттедж', 'Другое'] 
								-for(i = 0; i < whatBuild.length; i++)
									li 
										input(type="radio" name="whatBuild" id=`what-build-${i}`)
										label(for=`what-build-${i}`)=whatBuild[i]
						li.quiz-step
							.quiz-step--title 
								h3 Какая примерная площадь ремонтируемого помещения?
							.quiz_input--slider 
								label(for="quiz-slider") Площадь, м2
								input 
					.quiz-nav 
						.quiz-prev
							+iconify({
								icon: 'ph:arrow-up-bold'
							})
						.quiz-next
							+btn({
								icon: true,
								name: 'Далее'
							})

