// Margin 



.mb10 {
	margin-bottom: 10rem;
}

.my8 {
	margin: 8rem 0;
}

.mt16 {
	margin-top: 16rem;
}

.mb16 {
	margin-bottom: 16rem;
}







// End Margin






// Padding



.pb10 {
	padding-bottom: 10rem;
}

.py8 {
	padding: 8rem 0;
}

.pt16 {
	padding-top: 16rem;
}

.pb16 {
	padding-bottom: 16rem;
}




// End Padding





.section-head {
	margin-bottom: 6rem;
	@include flex-space;
	h2, h3, h4, h5, h6 {
		font-size: 3.8rem;
		font-family: $font_2;
		font-weight: 400;
		color: $white;
	}
}

.section-nav {
	@include flex-end;
	&>div {
		background-color: $gold;
		color: $dark;
		width: 4.5rem;
		height: 4.5rem;
		border-radius: 100%;
		@include flex-center;
		cursor: pointer;
		&:first-child {
			transform: rotate(-90deg);
			margin-right: 2rem;
		}
		&:nth-child(2) {
			transform: rotate(90deg);
		}
		&.swiper-button-disabled {
			background-color: rgba(215, 198, 138, 0.20);
			pointer-events: none;
		}
	}
}




