// Global 
$header: 8.3rem;
$footer: 50rem;

// Mobile
$header_mob: 15.9rem;
$footer_mob: 10rem;

//---------------------------------------------fonts
$font_path: "../fonts/";
$font_1: 'Montserrat-Light', sans-serif;
$font_2: 'Montserrat-Regular', sans-serif;
$font_3: 'Montserrat-Medium', sans-serif;
$font_4: 'Montserrat-SemiBold', sans-serif;
$font_5: 'Montserrat-Bold', sans-serif;

$font_size_base: 1.8rem;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #000;
$dark: #000;
$violet: #9000FF;
$yellow: #FDD02F;
$grey: #A8A8A8;

$hover: #7C00DC;



$trans: transparent;




$color_text_base: $dark;
$color_link_base: $dark;
$body_bg: $white;
//---------------------------------------------colors###

//---------------------------------------------z-index
$z-index: (
	popup : 101,
	header : 100,
	footer : 100,
	el: -1,

);
//---------------------------------------------z-index###

//---------------------------------------------layout
$page_width: 144.6rem;

//---------------------------------------------layout###

//---------------------------------------------global values
$gl_radius: 2.4rem;
//---------------------------------------------global values###

//---------------------------------------------media points
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
//---------------------------------------------media points

//---------------------------------------------forms

$input_font_size: $font_size_base;
$input_border_color: #ccc;
$input_border_color_active: $white;
$input_placeholder_color: rgba($white, .7);
$input_text_color: $white;




